<div class="medicament-container">
    <div class="header-actions">
      <h2>Gestion des Médicaments</h2>
      
    </div>
  
    <div class="medicament-grid">
      @for (med of medicaments; track med.id) {
      <div class="medicament-card">
        <div class="card-header">
          <img [src]="med.image" [alt]="med.name">
          <span class="category-badge">{{med.category}}</span>
        </div>
        <div class="card-body">
          <h3>{{med.name}}</h3>
          <p class="description">{{med.description}}</p>
          <div class="details">
            <div class="detail-item">
              <i class="fas fa-flask"></i>
              <span>{{med.lab}}</span>
            </div>
            <div class="detail-item">
              <i class="fas fa-boxes"></i>
              <span [class.low-stock]="med.quantity <= med.stockAlert">
                {{med.quantity}} en stock
              </span>
            </div>
            <div class="detail-item">
              <i class="fas fa-euro-sign"></i>
              <span>{{med.price}} dt</span>
            </div>
          </div>
        </div>
        <div class="card-actions">
          <button class="action-btn edit">
            <i class="fas fa-edit"></i>
          </button>
          <button class="action-btn delete">
            <i class="fas fa-trash"></i>
          </button>
          
        </div>
      </div>
      }
    </div>
  </div>